<% provide(:title, 'About') %>

<div class="container">
   <div class="row">
   <div class="col-md-8 col-md-offset-2">
   <h3>Developed By:</h3>
        <a href="https://www.facebook.com/p.munjal1297">Prateek Munjal</a><br><br><br>
    
    
        <a href="https://www.facebook.com/manoj.maurya.18">Manoj Maurya</a>
    

<div class="footer">
    <a href="/rules/home" style="color:darkred"><h3>Go Back</h3></a>
</div>
</div>
  </div>  
    </div>