<% provide(:title, 'About') %>
<style>

.rotate:hover {
    
    -webkit-animation: mymove .1s infinite ; /* Chrome, Safari, Opera */
      animation: mymove .s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    25% {-webkit-transform: rotate(10deg);}
}

/* Standard syntax */
@keyframes mymove {
    25% {transform: rotate(10deg);}
}


.rotate{
	text-shadow: 5px 5px 5px
	
}

	
	
</style>
<div class="container">
   <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <div class="col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading">About Developer</div>
     <div class="panel-body">
      <div class="col-md-6">
     <div class="thumbnail" style="margin: 0px">
     <h3 class="rotate text-info">Manoj Maurya</h3>
   
    <a href="https://www.facebook.com/manoj.maurya.18" target="_blank" > <i class="fa fa-facebook-square fa-2x" ></i></a>
     	<a href="https://plus.google.com/u/0/103956183708781715463/about" target="_blank"><span style="color: red"> <i class="fa fa-google-plus-square fa-2x"></i></span></a>
       <a href="#" ><span style="color: #1dcaff"> <i class="fa fa-twitter-square fa-2x"></i></span></a>
       <a href="#" ><span style="color: #4875B4"> <i class="fa fa-linkedin-square fa-2x"></i></span></a>
    </div>
     </div>
    <div class="col-md-6">
     <div class="thumbnail" style="margin: 0px">
     <h3 class="text-info rotate">Prateek Munjal</h3>
      <a href=href="https://www.facebook.com/p.munjal1297" target="_blank"> <i class="fa fa-facebook-square fa-2x" ></i></a>
     	<a href="https://plus.google.com/u/0/118148655561120243194/about"target="_blank" ><span style="color: red"> <i class="fa fa-google-plus-square fa-2x"></i></span></a>
        <a href="#" ><span style="color: #1dcaff"> <i class="fa fa-twitter-square fa-2x"></i></span></a>
        <a href="#" ><span style="color: #4875B4"> <i class="fa fa-linkedin-square fa-2x"></i></span></a>
    </div>
     </div>
     </div>
     </div>
     </div>
    
</div>
 
    </div>
    </div>
    
    
